<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title slot="start">
      <ion-img src="assets/icon/logo.png" style="width: 50px;">Efairs</ion-img>
      <ion-label slot="end">EFairs</ion-label></ion-title> 
    <ion-title slot="end">
      <ion-icon name="person-circle-outline"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Home"></app-explore-container>
</ion-content>
